$bgColor: #fff;
$bgDarkMode: #222;
$textColor: #4e4c4c;
$textDarkColor: #f2f2f2;
$bgGold: #ffcf62;

.product {
	display: flex;
	cursor: pointer;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px 16px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	background-color: $bgColor;
	color: $textColor;
	transition: transform 0.4s ease;

	@media (max-width: 560px) {
		padding: 16px 8px;
	}

	&.dark_mode {
		background: $bgDarkMode;
		color: $textDarkColor;
		box-shadow: 0px 2px 8px rgb(220, 215, 215);
	}
	&:hover {
		transform: translateY(-10px);
	}

	&__image {
		max-width: 202px;
		width: 100%;
		height: 184px;
		margin-bottom: 24px;
		overflow: hidden;
		@media (max-width: 852px) {
			max-width: none;
			height: 200px;
		}
		> img {
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}
	&__name {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		color: $textColor;
		text-overflow: ellipsis;

		overflow: hidden;

		margin-bottom: 24px;
		&.dark_mode {
			color: $textDarkColor;
		}

		@media (max-width: 400px) {
			font-size: 11px;
			margin-bottom: 18px;
		}
	}

	&__code {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150.19%;
		display: flex;
		gap: 5px;
		color: #7b7b7b;
		margin-bottom: 24px;
		&.dark_mode {
			color: $textDarkColor;
		}

		@media (max-width: 845px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
			margin-bottom: 18px;
		}
	}

	&__price {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		color: #2d2d2d;
		&.dark_mode {
			color: $textDarkColor;
		}

		@media (max-width: 400px) {
			font-size: 16px;
		}
	}

	&__footer {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		&_btn {
			display: grid;
			width: 40px;
			height: 40px;
			place-items: center;
			transition: background 0.4s ease;
			border: none;
			outline: none;
			background: transparent;
			border-radius: 4px;
			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			&.checked {
				background: #04b19e;
				&:hover {
					opacity: 0.8;
					background: #04b19e;
				}
			}

			&:hover {
				background: $bgGold;
			}
		}
	}
}
