$colorWhite: #f2f2f2;

.contacts__form {
	background-color: #fff;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 24px;
	&.dark {
		background-color: #4e4c4c;
	}

	&_title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		color: #2d2d2d;
		margin-bottom: 22px;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 12px;
		&.dark {
			color: $colorWhite;
		}
	}

	&_inner {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	&_block {
		width: 100%;
		> label {
			width: 100%;
		}
	}

	&_label {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 24px;
		&.dark {
			> span {
				color: $colorWhite;
			}
		}
	}

	&_placeholder {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150.19%;
		color: #4e4c4c;
	}

	&_input,
	&_message {
		width: 100%;
		background: #ffffff;
		border: 1px solid #d5d5d5;
		border-radius: 4px;
		&.dark {
			background-color: #2d2d2d;
			color: $colorWhite;
			&::placeholder {
				color: #ccc;
			}
		}
	}

	&_input {
		outline: none;
		padding: 0 12px;
		width: 100%;
		height: 40px;
	}

	&_message {
		padding: 9px 12px;
		height: 176px;
		resize: vertical;
		outline: none;
		padding-top: 9px;
		padding-left: 12px;

		&.dark {
			background-color: #2d2d2d;
			color: $colorWhite;
		}
	}

	&_border {
		width: 100%;
		height: 1px;
		background-color: #e1e1e1;
	}
}

.error_alert {
	font-size: 12px;
	color: red !important;
}
